<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nagaboka.mapper.WalkMapper">

<!-- 산책 장소 resultMap -->
<resultMap type="WalkVO" id="walk">
	<result property="wno" column="wno" />
	<result property="wname" column="wname" />
	<result property="wlat" column="wlat" />
	<result property="wlng" column="wlng" />
</resultMap>

<!-- 산책 장소 댓글 resultMap -->

<resultMap type="WalkReviewVO" id="wron">
	<result property="wrno" column="wrno"/>
	<result property="wrregdate" column="wrregdate"/>
	<result property="wrcon" column="wrcon"/>
	<result property="wrimgs" column="wrimgs"/>
	<result property="wrlike" column="wrlike"/>
	<collection property="walk" resultMap="wak" />
	<collection property="user" resultMap="user" />
</resultMap>

<!-- 회원 resultMap -->
<!-- <resultMap type="UserVO" id="user">
	<result property="username" column="username" />
	<result property="password" column="password" />
	<result property="name" column="name" />
	<result property="phone" column="phone" />
	<result property="regdate" column="regdate" />
	<result property="latitude" column="latitude" />
	<result property="longitude" column="longitude" />
	<result property="roadFullAddr" column="roadFullAddr" />
</resultMap> -->

<!-- 산책 장소 최초 입력 -->
<!-- 테스트 완료 -->
<insert id="insertWalk">

  insert into walk(wname, wlat, wlng)
  values (#{wname}, #{wlat}, #{wlng}) 


<!-- 산책 장소 개수  | 반경 설정 어떻게 할지 생각해보고 where절 잘 구해야함 -->	
<!-- 1위도는 133.33km 차이 -->
<select id="getWalkCnt" resultType="Integer">
	select count(wno) from walk
</select>

<!-- 산책 장소 댓글 입력 -->
<!-- 테스트 완료 -->
<insert id="insertReview">
  insert into walk_comment(wno, user, wrcon, wrimgs, wrlike)
  values (#{walk.wno}, #{username}, #{wrcon}, ifnull(#{wrimgs},''), #{wrlike})


<!-- 댓글 달고 난 다음에 해당 장소의  이름으로 댓글 개수 업데이트 -->
<update id="updateWlikeCnt">
	update from walk
	set wrcount
</update>

<!-- 댓글 달고 난 다음에 해당 장소의  이름으로 발바닥 개수 업데이트 -->
<!-- 해당 장소의 like가 1인 댓글의 개수  -->
<update id="updateWRCnt">
	update from walk
	set wrcount=(count wno
				 from walk_comment
				 where wname=#{wname} and wrlike=1)
    where wname=#{wname}
</update>

<!-- 산책 장소 이름으로 목록 정보(장소명, 댓글 수, 발바닥 수) 불러오기 -->
<!-- 테스트 완료 -->
<select id="getWalkList" resultType="WalkVO">
	select w.wno, w.wname, wlat, wlng, count(c.wrno) as wrcount, sum(c.wrlike) as wlikecount
	from walk w join walk_comment c
	on w.wno = c.wno 

</select>

<!-- 특정 산책 장소 정보 이름으로 불러오기 -->
<select id="getWalk" resultType="WalkVO">
	select * from walk
	where wname=#{wname}
</select>

<!-- 특정 산책 장소 댓글 목록 불러오기 -->
<select id="getReviewList" resultType="WalkReviewVO">
</select>

<!-- 산책 장소 댓글 수정 -->
<update id="updateWReview">
</update>

<!-- 산책 장소 댓글 삭제 -->
<delete id="deleteWReview">
</delete>
</mapper>