<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nagaboka.mapper.WalkMapper">

<!-- 산책 장소 resultMap -->
<resultMap type="WalkVO" id="walk">
	<result property="wno" column="" />
	<result property="wname" column="" />
</resultMap>

<!-- 산책 장소 댓글 resultMap -->
<resultMap type="WalkCommentVO" id="wcon">
	<result property="wcno" column="wcno"/>
	<result property="user" column="user"/>
	<result property="wcregdate" column="wcregdate"/>
	<result property="wccon" column="wccon"/>
	<result property="wcimgs" column="wcimgs"/>
	<result property="wclike" column="wclike"/>
	<collection property="walk" resultMap="wak" />
	<collection property="user" resultMap="user" />
</resultMap>

<!-- 회원 resultMap -->
<!-- <resultMap type="UserVO" id="user">
	<result property="username" column="username" />
	<result property="password" column="password" />
	<result property="name" column="name" />
	<result property="phone" column="phone" />
	<result property="regdate" column="regdate" />
	<result property="latitude" column="latitude" />
	<result property="longitude" column="longitude" />
	<result property="roadFullAddr" column="roadFullAddr" />
</resultMap> -->

<!-- 산책 장소 최초 입력 -->
<insert id="insertWalk">
  insert into walk(wname)
  values (#{wname}) 
</insert>

<!-- 산책 장소 개수  -> 반경 설정 어떻게 할지 생각해보고 where절 잘 구해야함 -->
<select id="selectWalkCnt" resultType="Integer">
	select count(*) from walk
</select>

<!-- 산책 장소 댓글 입력 -->
<insert id="insertComment">
  insert into WComment(wno, user, wccon, wcimgs, wclike)
  values #{wno}, #{user}, #{wccon}, #{wcimgs},#{wclike}
</insert>

<!-- 특정 산책 장소 정보 이름으로 불러오기 -->
<select id="selectWalk" resultType="WalkVO">
	select * from walk
	where wname=#{wname}
</select>

<!-- 산책 장소 이름으로 목록 정보(장소명, 댓글 수, 발바닥 수) 불러오기 -->
<select id="selectWalkList" resultType="WalkVO">
	select w.name, count(select wno
	                     from walk_comment
	                     where wno = (select wno
	                                  from walk
	                                  where wname=#{wname})
	                     ), count(select wcno
	                              from walk_comment
	                              where wclike=1)
	from walk w join walk_comment c
	on w.wno = c.wno 
	order by 
	
</select>

<!-- 특정 산책 장소 댓글 목록 불러오기 -->
<select id="selectWCommentList" resultType="WalkCommentVO">
</select>

<!-- 산책 장소 댓글 수정 -->
<update id="updateWComment">
</update>

<!-- 산책 장소 댓글 삭제 -->
<delete id="deleteWComment">
</delete>
</mapper>